apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-idovclyl
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-idovclyl:cf3aa24bed4f4d1fdc5818060cd00656d5ab3236@sha256:d9ecfc37c25d6ae5aa67769eda99a0fb4d765507ddc2397792ce285f83420928
          name: container-image
